$thui-color-blue-500: #5870f9;
$thui-color-blue-300: #c3ccfd;
$thui-color-green-700: #4e9d00;
$thui-color-green-300: #c9eab2;
$thui-color-white: #ffffff;
$thui-color-yellow: #f9e058;
$thui-color-red-500: #e12929;
$thui-color-red-300: #ffb9b9;
