@import "../utilities/variables";

.note-reader-level-title {
  margin-top: 6em;
  font-weight: normal;
  text-align: center;
}

.answer-buttons-container {
  display: flex;
  justify-content: center;

  @media (max-width: 600px) {
    flex-wrap: wrap;
  }
}

.answer-button {
  background-color: $thui-color-white;
  color: black;
  border: 1px solid #acacac;
  border-radius: 12px;
  height: 120px;
  width: 120px;
  font-size: 50px;
  font-weight: 800;
  margin: 9px;
  @media (max-width: 600px) {
    margin: 15px;
  }

  &--selected {
    background-color: $thui-color-blue-500;
    color: $thui-color-white;
    outline: none;

    &:hover {
      background-color: $thui-color-blue-500;
    }
  }
}

.submit-button-container {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.submit-button {
  background-color: $thui-color-blue-500;
  height: 82px;
  width: 250px;
  border-radius: 24px;
  border: 2px solid $thui-color-blue-500;
  outline: none;
}

.submit-button--success {
  background: $thui-color-yellow;
  border-color: $thui-color-yellow;
}

.submit-button--error {
  background: $thui-color-red;
  border: $thui-color-red;
}

.toolbar-container {
  display: flex;
}
