.levels-container {
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.section-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 5vh;
  max-width: 60vw;
}

.section-title {
  margin: 0;
  font-weight: normal;
  font-family: "CircularStd";
  font-style: normal;
  font-size: 2.4vh;
  line-height: 3vh;
  margin-block-end: 0;
  margin-inline-end: 0;
}

.button-and-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-img {
  padding: 0;
  padding-left: 10px;
  max-width: 40px;
}

.levels-row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2em;
}

.score {
  flex-grow: 1;
}

.menu-item {
  height: 53px;
}

.account-name-menu-item {
  justify-content: space-between;
  outline: none;
}

.home-level-image {
  max-width: calc(15vh - 20px);
  max-height: 15vh;
  padding: 0;

  @media (min-width: 768px) {
    height: default;
    width: default;
  }
}

amplify-authenticator {
  --container-height: contents;
}
