body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
amplify-authenticator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

img {
  display:flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}


:root {
    --amplify-primary-color: #798DFA;
    --amplify-primary-tint: #5870F9;
    --amplify-primary-shade: #5870F9;
    --amplify-font-family: 'Roboto';
}