body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.sign-up-container {
  padding-top: 5em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.fb-button {
  width: 280px;
  font-family: 'Roboto';

}

amplify-signup {
  font-family: 'Roboto';
}

img {
  display:flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding-bottom: 2em;
}


:root {
    --amplify-primary-color: #798DFA;
    --amplify-primary-tint: #5870F9;
    --amplify-primary-shade: #5870F9;
    --amplify-font-family: 'Roboto';
}